/*Common used style*/
html, body { height: 100%; }
a,button,input,textarea{-webkit-tap-highlight-color: rgba(0,0,0,0)}
.bottom_line {
    border-bottom: 1px solid #dcdcdc;
}
.top_line {
    border-top: 1px solid #dcdcdc;
}
img {
    max-width: 100%;
}

/* Animation */
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeOutRight {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}