/*Common used style*/
* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html, body { 
  height: 100%; 
}
a,button,input,textarea{-webkit-tap-highlight-color: rgba(0,0,0,0)}
.bottom_line {
    border-bottom: 1px solid #dcdcdc;
}
.top_line {
    border-top: 1px solid #dcdcdc;
}
img {
    max-width: 100%;
}

/* Animation */
/*
.mint-radio-core::after{
	top: 6px;
  left: 6px;
}*/